$base-color: #f8f8ed;
$accent-light: #e1ddcf;
$accent-dark: #2a324b;
$dark-color: black;

.garment {
    width: 100vw;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
}
.garment__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.garment__content img{
    padding:15px;
}

.button__area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__closet {
    margin:30px;
    width: 140px;
    height: 40px;
    color: #e1ddcf;
    background-color: #2a324b;
    border-radius: 4px;
    border: 0;
}