
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f8f8ed;
}
.span {
  color: #2a324b
}

a {
  color: #2a324b;
  text-decoration: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e1ddcf;
    background:  #f8f8ed;
  }
}
