// @import url(https://fonts.googleapis.com/css2?family=Secular+One&display=swap);

$base-color: #f8f8ed;
$accent-light: #e1ddcf;
$accent-dark: #2a324b;
$dark-color: black;


.linkUpper {
  display: flex;
  justify-content: left;
}
.linkMittle {
  display: flex;
  justify-content: center;
}
.linkBelow {
  display: flex;
  justify-content: left;
  // width: 500px;
}
.container {
  padding: 20px;
}
.logo {
  justify-content: right;
  width: 400px;
  height: 400px;
  // margin-right:10%;
  float: right;
}
@media (max-width: 400px) {
  .container {
    margin:10px;
    margin-top:100px;
    padding: 10px;
  }
  .logo {
    justify-content: right;
    margin-top:70px;
    width: 250px;
    height: 250px;
    float: right;
  }
  .linkUpper {
    font-size: small;
    
  }
  .linkMittle {
    font-size: small;
  }
  .linkBelow {
    font-size: small;
  }
}

