$base-color: #f8f8ed;
$accent-light: #e1ddcf;
$accent-dark: #2a324b;
$dark-color: black;

.outfits-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(100%);
    grid-template-rows: minmax(7rem, auto);
}

.outfits {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(33%, 33%, 33%);
    grid-template-columns: minmax(7rem, auto);
}

