$base-color: #f8f8ed;
$accent-light: #e1ddcf;
$accent-dark: #2a324b;
$dark-color: black;
$site-width: 1000px;

.outfits {
    max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    & > * {
        flex: 0 0 calc(100% / 2 - 4px);
    }

    @media (min-width: 900px) {
        gap: 14px;

        & > * {
            flex: 0 0 calc(100% / 3 - 10px);
        }
    }
}

.outfit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 20px;
}

.outfitParts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    mix-blend-mode: darken;

    img {
        max-height: 278px;
        width: 100%;
        height: 100%;
    }
}

.deleteBtn {
    border: none;
    border-radius: 4px;
    background-color: $accent-dark;
    color: $base-color;
}
.div__outfits{
    margin:30px;
}